body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.top {
  width: 98vw;
  height: auto;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;

  display: flex;
}
.half-width {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}
.top h1 {
  font-size: 3vw;
}
.top h1 span {
  color: orange;
}

.top h3 {
  font-size: 2vw;
}

.top p {
  font-size: 1.5vw;
}
.top .mar {
  margin-top: 15%;
}
.top .half-width img {
  width: 100%;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1vw;
}
.half-width p {
  color: dimgray;
}

/* second section */

.dream-area {
  width: 98vw;
  padding-top: 5%;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  display: flex;
  /* border: 1px solid black; */
}
.half {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  /* border: 1px solid black; */
}
.pa {
  padding-top: 5%;
}
.half img {
  width: 100%;
}
.dream-area h2 {
  font-size: 3.5vw;
}
.dream-area h3 {
  font-size: 2.5vw;
}
.dream-area p {
  font-size: 1.5vw;
}
.pa1 {
  padding-top: 5%;
}
.tp {
  padding-top: 5%;
}

/* Third Section */

.experience-area {
  width: 93vw;
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 5% 5% 10% 0;
}
.experience-area h2 {
  padding-left: 3%;
}
.container {
  display: flex;
}
.experience-area h3 {
  font-size: 2vw;
  color: orange;
}
.experience-area h2 {
  font-size: 2.5vw;
}
.experience-area p {
  font-size: 1.5vw;
}
.half1 {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
}

.container div {
  box-shadow: 5px 7px 40px gray;
  padding-right: 5%;
}
#full-stack {
  border-left: 7px solid tomato;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(blue 100%, cyan 100%);
  border-image-slice: 1;
}
footer {
  width: 40vw;
  background-color: rgb(0, 0, 0);
  margin: 5% auto;
  border-radius: 15%;
}
footer p {
  color: antiquewhite;
  text-align: center;
  font-size: 1vw;
}
